.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 50px 0px;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.cart-container {
    background-color: rgb(233, 228, 228);
    width: auto;
    height: fit-content;
    border-radius: 20px;
}

@media screen and (max-width:768px) {
    .shop-container{
        grid-template-columns: 1fr;
        margin: 0px 20px 0px 0px;
    }
    .products-container{
        grid-template-columns: 1fr;
        gap: 10px 0px;
        justify-content: center;
        order: 2;
    }
    .cart-container{
        order: 1;
        margin-bottom: 15px;
    }
}
@media screen and (min-width:768px) and (max-width: 920px) {
    .shop-container{
        grid-template-columns: 1fr;
        margin: 0px 50px;
    }
    .products-container{
        grid-template-columns: 1fr 1fr;
        gap: 10px 0px;
        justify-content: center;
        order: 2;
    }
    .cart-container{
        order: 1;
        margin-bottom: 15px;
        width: 95%;
    }
}